* {
  outline: none !important;
}

a, a:hover {
  text-decoration: none !important;
  color: inherit !important;
}

.label-custom {
  color: #2c2c31;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.card {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(153, 153, 153, .2) 0px 2px 4px 0px;
  border-radius: 3px;
  border: none;
}

body {
  background-color: #eee;
}

@media (max-width: 576px) {
  body {
    margin-top: 56px;
  }
}